DATABASE_URL="mysql://usuario:senha@localhost:3306/api_biblioteca"
DATABASE_USER="usuario"
DATABASE_PASSWORD="senha"
DATABASE_NAME="api_biblioteca"
DATABASE_HOST="localhost"
DATABASE_PORT=3306

JWT_SECRET="3TgOpXA88lYE380JEgddySi1bY17zI9JTKaSN2zBx9U"
